<br />
<br />
<br />
<div>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Cerere noua </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
            Date personale 
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-form-field appearance="fill">
        <mat-label>Alege cererea pe care vrei sa o depui</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
            Documente
        </mat-expansion-panel-header>

        <mat-checkbox class="width-100">Document 1</mat-checkbox>
        <mat-checkbox class="width-100">Document 2</mat-checkbox>
        <mat-checkbox class="width-100">Document 3</mat-checkbox>
        <mat-checkbox class="width-100">Document 4</mat-checkbox>
      </mat-expansion-panel>      

    </mat-expansion-panel>





    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Istoric cereri </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Content istoric cereri</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
