<br />
<br />
<br />
<div>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Cerere noua </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
            Date personale 
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-form-field appearance="fill">
        <mat-label>Alege cererea pe care vrei sa o depui</mat-label>
        <mat-select>
          <mat-option *ngFor="let cerere of cereriCategorii" [value]="cerere.value">
            {{cerere.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
            Documente
        </mat-expansion-panel-header>

        <li *ngFor="let document of documents">
            <mat-checkbox [checked]="document.exists" [disabled]="document.exists"> 
                {{document.name}}
                <span *ngIf="document.exists">
                    ✓
                </span>
                <span *ngIf="!document.exists">
                    <input type="file" class="file-upload" onchange="console.log(event.target.files)">
                    
                </span>
                <label class="custom-file-upload" *ngIf="!document.exists">
                    <input type ="file"/>
                    Upload
                </label>
                <span>

                </span>
            </mat-checkbox>
        </li>
      </mat-expansion-panel>      
    </mat-expansion-panel>





    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Istoric cereri </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Content istoric cereri</p>
      <div *ngFor="let cerere of cereri">
        <mat-card>
            {{cerere.name}}
        </mat-card>
        
      </div>
      
    </mat-expansion-panel>
  </mat-accordion>
</div>
