<br />
<br />
<br />
<div>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title><h1>Cerere noua</h1></mat-panel-title>
      </mat-expansion-panel-header>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
            Date personale 
        </mat-expansion-panel-header>
          <div>
            <label>Nume: <b>Popescu</b></label>
          </div>     
          <div>
            <label>Prenume: <b>Ion</b></label>
          </div>
        <div>
            <label>CNP: <b>2980209123456</b></label>
        </div>
        <div>
            <label>Serie: <b>CJ000111</b></label>
        </div>
        <div>
            <label>E-mail: <b>ionpopescu@gmail.com</b></label>
        </div>
        <div>
            <label>Telefon: <b>0765674321</b></label>
        </div>
        <div>
            <label>Oras: <b>Cluj-Napoca</b></label>
        </div>
        <div>
            <label>Strada: <b>str. Zambilelor</b></label>
        </div>
        <div>
            <label>Numar: <b>nr. 5</b></label>
        </div>
      </mat-expansion-panel>

      <mat-form-field appearance="fill">
        <mat-label>Alege cererea pe care vrei sa o depui</mat-label>
        <mat-select>
          <mat-option *ngFor="let cerere of cereriCategorii" [value]="cerere.value">
            {{cerere.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
            Documente
        </mat-expansion-panel-header>

        <li *ngFor="let document of documents">
            <mat-checkbox [checked]="document.exists" [disabled]="document.exists"> 
                {{document.name}}
                <span *ngIf="document.exists">
                    ✓
                </span>
                <label class="custom-file-upload" *ngIf="!document.exists">
                    <input type ="file"/>
                    Upload
                </label>
                <span>

                </span>
            </mat-checkbox>
        </li>
      </mat-expansion-panel>      
    </mat-expansion-panel>





    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><h1>Istoric cereri</h1></mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let cerere of cereri">
        <mat-card>
            <mat-card-title>
                {{cerere.name}}
            </mat-card-title>
            <mat-card-content>
                Status: {{cerere.status}}
            </mat-card-content>
        </mat-card>
        
      </div>
      
    </mat-expansion-panel>
  </mat-accordion>
</div>
