
<br>
<br>
<br>
<br>

<h1 class="title">Anunturi</h1>

<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Au început lucrările la Parcul Observator din cartierul Zorilor</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://files.primariaclujnapoca.ro/comunicate/2022/11/03/parc-zorilor-PMC12742_-400x113.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>A fost semnat contractul de proiectare pentru amenajarea Parcului Bună Ziua</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://files.primariaclujnapoca.ro/comunicate/2022/09/01/randare-parc-Buna-Ziua-1-400x113.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ședința ordinară a Consiliului Local - miercuri, 2 noiembrie 2022, ora 14 - Sala de Sticlă</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://files.primariaclujnapoca.ro/2022/06/30/PMC17233_-480x135.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
  </mat-card>

  <br>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Au început înscrierile pentru Gala de Excelenţă „10 pentru Cluj”</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://files.primariaclujnapoca.ro/comunicate/2022/11/01/PMCJ3634_-400x113.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
  </mat-card>