<div class="toolbar center" role="banner">  
  <fa-icon [icon]="faAngleLeft" class="back-icon fa-2xl" routerLink="/HomePage"></fa-icon>
  <span class="app-title">AppTitle</span>    
</div>
<div>
    <router-outlet></router-outlet>
</div>

<!-- Toolbar -->
<div class="app-toolbar">
    <div class="toolbar-button" routerLink="/HomePage">
        <fa-icon [icon]="faHouse"></fa-icon>
    </div>
    <div class="toolbar-button" routerLink="/TaxeSiImpozite">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
    </div>
    <div class="toolbar-button" routerLink="/Cereri">
        <fa-icon [icon]="faFile"></fa-icon>
    </div>
    <div class="toolbar-button" routerLink="/CTP">
        <fa-icon [icon]="faBus"></fa-icon>
    </div>
    <div class="toolbar-button" routerLink="/Profile">
        <fa-icon [icon]="faUser"></fa-icon>
    </div>
</div>


