
<div class="container">
    <div class = "titlu">
        {{plataDetails.nume}}
    </div>
    <div class ="deadline">
        <b>Data scadenta: </b>{{plataDetails.deadline}}
    </div>
    <div class = "suma">
        <b>Suma: </b>{{plataDetails.suma}}
    </div>
    <div class="butoane">
        <div *ngIf="!plataDetails.isPaid" class = "button-plateste">
            PLATESTE
        </div>
        <div *ngIf="plataDetails.isPaid" class = "button-platit">
            ACHITAT
        </div>
        <div class ="button-detalii">
            >> Detalii
        </div>
    </div>
    <div *ngIf="!plataDetails.isPaid">*Daca platesti pana in 01.03.2023 beneficiezi de 10% reducere</div>
</div>