<br/>
<br/>
<br/>

<div class="container">
    <div class = "titlu">
        {{plataDetails.nume}}
    </div>
    <div class ="deadline">
        <b>Data scadenta: </b>{{plataDetails.deadline}}
    </div>
    <div class = "suma">
        <b>Suma: </b>{{plataDetails.suma}}
    </div>
    <div class="butoane">
        <div class = "button-plateste">
            PLATESTE
        </div>
        <div class ="button-detalii">
            >> Detalii
        </div>
    </div>
    *Daca platesti pana in 01.03.2023 beneficiezi de 10% reducere
</div>