<p>profile works!</p>

<div class="profile-data">
    <div class="profile-picture">
        <img src = "../../../assets/149071.png">
    </div>
    <div class="name">ION POPESCU</div>
</div>
<div class="profile-info">

</div>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
          <mat-panel-title>
            Date Personale
          </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
                <mat-label>Nume</mat-label>
                <input matInput disabled value="Nume">
            </mat-form-field>
            <mat-form-field></mat-form-field>
            <mat-form-field></mat-form-field>
            <mat-form-field></mat-form-field>
            <mat-form-field></mat-form-field>
            <mat-form-field></mat-form-field>
            <mat-form-field></mat-form-field>
            <mat-form-field></mat-form-field>
        </mat-expansion-panel>
    </mat-accordion>