.profile-data{
    margin-top:30px;
    background-color: aliceblue;
    display: flex;
    height: 170px;
    align-items: center;
}

.profile-picture{
    width: 35%;
   
}

.name{
    font-size:xx-large;
}

img{
    max-height: 100%;
    max-width: 100%;
}
